.root {
	-fx-font-size: 10pt;
	-fx-font-family: "Verdana";
}

/* TabPane */

.tab-pane {
    fx-tab-min-height: 100;
}

.tab-pane:top > *.tab-header-area {
    -fx-background-insets: 0, 5 5 5 5;
	-fx-padding: 0 0 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 5 5 12 5;
}

/* TextField */
.text-field {
	-fx-background-radius: 90 90 90 90;
	-fx-padding: 5 5 5 15;
}

.field-warning {
	-fx-effect: dropshadow(gaussian, red, 10, 0.2, 0, 0);
}
/* Scroll Top Button */
.button-scroll {
    -fx-background-radius: 90 90 90 90;
    -fx-border-radius: 90 90 90 90;
    -fx-border-width: 0.5;
    -fx-border-color: GREY;
    -fx-background-color: WHITE;
}
